################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/LEDMatrix/v16
/examples/Girland/Girland.vcxproj.user
/examples/Girland/Girland.vcxproj.filters
/examples/Girland/Girland.vcxproj
/LEDMatrix.vcxitems.filters
/LEDMatrix.vcxitems
/LEDMatrix.sln
